# ACTBLUE WEBHOOK CREDENTIALS
AB_WEBHOOK_USERNAME=""
AB_WEBHOOK_PASSWORD=""

#email server
EMAIL_SERVER_USER=""
EMAIL_SERVER_PASSWORD=""
EMAIL_SERVER_HOST=""
EMAIL_SERVER_PORT=""
EMAIL_FROM=""

#printful token
PRINTFUL_KEY=""

PRINTFUL_API_KEY=""

MEMBER_ZAP=""

ROOT_URL=""


SQUARESPACE=""

#stripe
STRIPE_TEST=""
STRIPE_SECRET_KEY=""
STRIPE_HOOK_SECRET=""


MAILCHIMP_KEY="-us4"
