MODE=development

ROOT_URL=

# Database
DO_USERNAME=""
DO_PASSWORD=""
DO_HOST=""
DO_PORT=
DO_DB=""

# Printful
PRINTFUL_KEY=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_SUBSCRIPTIONS_HOOK_SECRET=
STRIPE_SESSIONS_HOOK_SECRET=

# Zapier
MEMBER_ZAP=

# Mailing list
MAILCHIMP_KEY=
MAILCHIMP_AUDIENCE_ID=

# Email
EMAIL_SERVER_HOST=
EMAIL_SERVER_PORT=
EMAIL_SERVER_USER=
EMAIL_SERVER_PASSWORD=
EMAIL_FROM=

#email server
EMAIL_SERVER_USER=""
EMAIL_SERVER_PASSWORD=""
EMAIL_SERVER_HOST=""
EMAIL_SERVER_PORT=""
EMAIL_FROM=""
