MODE=development

# CRON CREDENTIALS
CRON_ID=""
CRON_SECRET=""

# DATABASE CREDENTIALS
DO_USERNAME=""
DO_PASSWORD=""
DO_HOST=""
DO_PORT=
DO_DB=""

# ACTBLUE API CREDENTIALS
AB_CLIENT_UUID=""
AB_CLIENT_SECRET=""

# ACTBLUE WEBHOOK CREDENTIALS
AB_WEBHOOK_USERNAME=""
AB_WEBHOOK_PASSWORD=""
# this is the URL we want ActBlue to POST the CVS to
AB_WEBHOOK_ENDPOINT=""

# Umami
UMAMI_WEBSITE_ID=
