
:root {
    --blue: #0032ff;
    --light_blue:  rgb(102, 170, 222);
    --bg: rgb(237, 232, 232);
}

html {
    font-family: var(--Noto_Sans_Mon)
}

* {
    font-family: var(--Noto_Sans_Mon);
    font-weight: 400;
}

h2 {
    font-size: 1.1rem;
}

img {
    max-width: 100%;
}

body {
    background-color: var(--bg);
    height: calc(100dvh - 1rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    margin: .5rem 0;
    padding: .5rem 1rem;
    border-radius: 1rem;
    border:  none;
    background-color: var(--blue);
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: var(--light_blue);
}

.hider {
    background-color: transparent;
    border: none;
    margin: 0;
    vertical-align: middle;
}

.hider:hover {
    background-color: transparent;
}

a {
    color: var(--blue);
    border: none;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    text-decoration: underline;
}
a:hover  {
    color: var(--light_blue);
    background-color: transparent;
}

.light_butt {
    background-color: transparent;
    color: var(--light_blue);
    border: 1px solid var(--light_blue);
    border-radius: .4rem;
    padding: .2rem .5rem;
    font-size: .8rem;
    text-decoration: none;
    margin: 0;
}

.light_butt:hover {
    text-decoration: underline;
    background-color: transparent;
}


a {
    color: var(--blue);
}


.footer {
    max-width: 100%;
    padding: 3rem;
    text-align: center;
}

.footer img {
    margin: auto;
    max-width: 5rem;
}

.sub {
    font-size: .8rem;
    color: var(--light_blue);
}

.header {
    width: 100%;
    padding: 2rem 0;
}

.header img {
    width: 14rem;
    max-width: 50%;
    margin: auto;
    display: block;
}

.user_page {
    max-width: 100%;
    margin: auto;
    width: 30rem;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.tier {
    background-color: white;
    width: max-content;
    padding: 1rem;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 2rem;
    color: var(--blue);
    text-align: center;
}

.tier p{ 
    font-size: 3rem;
    margin: 0;
    margin: auto;
}

.user_card {
    background-color: var(--blue);
    color: white;
    width: 30rem;
    max-width: 100%;
    margin: auto;
    height: 20rem;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.slider {
    max-width: 100%;
    position: relative;
    box-sizing: border-box

}

.slide img{
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    overflow: hidden;
    height: 30rem;
}

#s_left {
    left: 1rem;
}

#s_right {
    right: 1rem;
}

.slide_controler {
    position: absolute;
    margin-top: 26rem;
    font-size: 2rem;
    padding-top: .7rem;
    border-radius: 50%;
    line-height: 2rem;
}

.slide {
    text-align: left;
    width: 100%;
    justify-content: space-between;
    margin: 1rem 0;
}

.slide p{
    margin: 1rem 0;
}

.status {
    color: green;
    padding: .2rem .5rem;
    border-radius: ;
}

.tier_img {
    margin: auto;
    max-width: 10rem;
}

.discounts {

}

.tooltip_butt {
    background-color: var(--bg);
    padding: .1rem .3rem;
    border-radius: .3rem;
}

.tooltip {
    display: none;
}


.tooltip_butt:hover .tooltip{
    display: block;
    position: absolute;
    background-color: white;
    box-shadow: rgba(177, 177, 177, .6) 0 .5rem .5rem;
    padding: .3rem .5rem;
    border-radius: .3rem;
    border: grey 1px solid;
    margin: .5rem;
    max-width: 50vw;
    font-size: 1rem;
}

.copyblock {
    margin: 0;
    font-size: .8rem;
}

.copyblock span {
    background-color: var(--bg);
    padding: .3rem .5rem;
    border-radius: .4rem;
    border: 1px solid white;
    color: var(--blue);
    max-width: max-content;
}

.copyblock:hover::before, .copyblock:focus::before {
    position: absolute;
    background-color: var(--blue);
    padding: 0 .5em;
    margin-left: .4rem;
    margin-top: 1.5rem;
    color: white;
}

.copyblock:hover::before { 
    content: ' copy';
}

.copyblock:focus::before {
    content: ' ✔ copied';
}

.copyblock span:hover { 
    cursor:pointer;
    background-color: white;
    border-color: var(--light_blue);
}

#perks {
    text-align: center;
    width: 100%;
    padding-top: 1rem;
    border-top: 1px solid var(--blue);
}

.hidden {
    display: none;
}

.unhidden {
    display: block;
    margin-bottom: 1rem;
    border-bottom: 1px dotted var(--light_blue);
}

.input[type="radio"] {
    width: 100%;
}


.section_header {
    justify-content: space-between;
    display: flex;
    max-height: 1.2rem;
    font-size: 1rem;
    background-color: var(--bg);
    margin-bottom: .5rem;
    border-radius: .5rem;
    padding: 1rem;
    line-height: 1rem;
    align-items: center;
}

.section_header button {
    padding: .2rem .5rem 0rem .5rem;
    font-size: 1.5rem;
    color: var(--blue);
    border-radius: 3rem;
    border: 1px solid var(--blue);
}

.section_header button:hover {
    background-color: white;
}
 

.section_header h2 {
    line-height: 1rem;
    margin: 0;
}

.user_section {
}

.login_page {
    background-color: white;
    max-width: 25rem;
    margin:auto;
    padding: 2rem;
    border-radius: 1rem;
}

.login_page div{
    display: flex;
    flex-direction: column;
} 

.login_page input{
    margin-top: 2rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    border:  grey 1px solid;
}

.login_page button{
    width: 100%;
}


@media only screen and (max-width: 800px) {
    .user_page {
      padding: 1rem;
      width: calc(100% - 2rem);
    }
  }