
:root {
    --blue: #0032ff;
    --light_blue:  rgb(64, 137, 233);
}

html {
    font-family: var(--Noto_Sans_Mon)
}

* {
    font-family: var(--Noto_Sans_Mon);
    font-weight: 400;
}

img {
    max-width: 100%;
}

body {
    background-color: rgb(237, 232, 232);
    height: calc(100dvh - 1rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    margin: .5rem 0;
    padding: .5rem 1rem;
    border-radius: 1rem;
    border:  none;
    background-color: var(--blue);
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: var(--light_blue);
}

a {
    color: var(--blue);
}


.footer {
    max-width: 100%;
    padding: 3rem;
    text-align: center;
}

.sub {
    font-size: .8rem;
    color: var(--light_blue);
}

.header {
    width: 100%;
    padding: 2rem 0;
}

.header img {
    width: 14rem;
    max-width: 50%;
    margin: auto;
    display: block;
}

.user_page {
    max-width: 50rem;
    margin: auto;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
}

.tier_img {
    max-width: 10rem;
}

.user_table {
    border: dotted var(--blue) 1px;
    padding: 0 1rem;
}

.login_page {
    background-color: white;
    max-width: 25rem;
    margin:auto;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px dotted var(--blue)
}

.login_page div{
    display: flex;
    flex-direction: column;
} 

.login_page input{
    margin-top: 2rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
    border:  grey 1px solid;
}

.login_page button{
    width: 100%;
}