.data_container {
    margin: 2rem;
    max-width: 200rem;
    font-size: .9rem;
}

table {
    min-width: 100%;
    font-size: .8rem;
}

.summary {
    color: var(--blue);
    margin-top: 1rem;
}

.json {
    font-size: .7rem;
}

.section {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px dotted var(--blue);
}